<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ listOfAssignments }}
List of Assignments
<br>
{% for i in listOfAssignments%}
    <h4> {{ i.create_date }},{{ i.submissionDate }},<a href="{{ i.file_name }}">{{  i.file_only_name }}</a> <br></h4>
{% endfor %}
Add Assignment
      <form name = "form" enctype = "multipart/form-data"
         action = "{% url "canvas:assignment_add" %}" method = "POST" >{% csrf_token %}

         <div style = "max-width:470px;">
            <input type="text" size="32" value="2" name="type" disabled hidden  />
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
               <input type = "file" style = "margin-left:20%;"
                  placeholder = "file" name = "file" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>

               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Login" >
                  <strong>Login</strong>
               </button>

            </center>
         </div>

      </form>

</body>
</html>