<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h1>Instructor Login </h1>

	<form action="{% url 'instructor:instructorlogin' %}" method="post">
		<table>
			<tr>
				<td>Email Id:</td>
				<td><input type="text" name="emailid" /></td>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password" /></td>
			<tr>
				<td></td>
				<td><input type="submit" value="login" /></td>


			</tr>
		</table>
	</form>

</body>
</html>